---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main>
    <!-- Jumbotron -->
    <div class="container section">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ page.description }}</h1>
                <p class="lead">{{ page.about }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Services</h2>
                <h3>Softscape</h3>
                <p>Installation and maintenance.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <h4>Yard</h4>
                <ul>
                    <li>Planting</li>
                    <li>Mulching</li>
                    <li>Sodding</li>
                    <li>Edging</li>
                    <li>Trimming</li>
                    <li>Pruning</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Tree</h4>
                <ul>
                    <li>Trimming</li>
                    <li>Pruning</li>
                    <li>Stump grinding</li>
                    <li>Removal</li>
                </ul>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>Hardscape</h3>
                <p>Construction and repair.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Decks</li>
                    <li>Retaining walls</li>
                    <li>Irrigation control</li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Areas</h2>
                <p>Proudly serving Northern Virginia.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Arlington County</li>
                    <li>Fairfax County</li>
                    <li>Prince William County</li>
                    <li>Stafford County</li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="card-deck">
                    {% if site.email %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Phone</h3>
                            <a href="tel:5714623495" class="stretched-link"><i
                                    class="fa-solid fa-phone-volume fa-3x mb-4"></i></a>
                            <p class="card-text"><a href="tel:5714623495">571-462-3495</a></p>
                        </div>
                    </div>
                    {% endif %}
                    {% if site.phone %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Email</h3>
                            <a href="mailto:DMVscapes@gmail.com" class="stretched-link"><i
                                    class="fa-regular fa-envelope fa-3x mb-4"></i></a>
                            <p class="card-text"><a href="mailto:DMVscapes@gmail.com">DMVscapes@gmail.com</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</main>
{% include footer.html %}