---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main>
    <!-- Jumbotron -->
    <div class="container section">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ page.description }}</h1>
                <p class="lead">{{ page.about }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Services</h2>
                <h3>Softscape</h3>
                <p>Installation and maintenance.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <h4>Yard</h4>
                <ul>
                    <li>Plantings</li>
                    <li>Mulching</li>
                    <li>Sodding</li>
                    <li>Edging</li>
                    <li>Trimming</li>
                    <li>Pruning</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Tree</h4>
                <ul>
                    <li>Trimming</li>
                    <li>Pruning</li>
                    <li>Stump grinding</li>
                    <li>Removal</li>
                </ul>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>Hardscape</h3>
                <p>Construction and repair.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Decks</li>
                    <li>Patios</li>
                    <li>Retaining walls</li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Areas</h2>
                <p>Proudly serving Northern Virginia.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Alexandria</li>
                    <li>Arlington</li>
                    <li>Fairfax County</li>
                    <li>Falls Church</li>
                    <li>McLean</li>
                    <li>Vienna</li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>Phone: <a href="tel:+">555-555-5555</a></li>
                    <li>Email: <a href="mailto:DMVscapes@gmail.com">DMVscapes@gmail.com </a></li>
                </ul>
            </div>
            <div class="col-sm-3">
            </div>
        </div>

    </div>
    </div>
</main>
{% include footer.html %}